
.ui-state-disabled, .ui-widget:disabled, input:disabled {
  background-color: #ccc;
  border-color: #888;
  opacity: 0.4;
}
a.disabled {
  color: inherit;
  cursor: default;
}
.lang-select .yywl-select-button .select-button-item {
  color: #fff;
}
