.ui-table {
  .ui-table-thead > tr > th, .ui-table-tbody > tr > td, .ui-table-tfoot > tr > td {
    padding: 0 2px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    cursor: auto;
  }
  .ui-table-thead > tr > th, .ui-sortable-column:not(.ui-state-highlight):hover {
    color: #737c93;
    cursor: default;
    background-color: #eff1f5;
  }
  .ui-table-caption, .ui-table-summary {
    padding: 2px 8px;
  }
  .ui-sortable-column {
    outline: none;
    &.ui-state-highlight {
      background-color: #6cb5ec;
      .fa-angle-down {
        color: #fff;
      }
    }
  }
  .ui-table-tbody > tr {
    &.ui-state-highlight {
      background-color: #6cb5ec;
      td {
        color: #fff;
      }
    }
    &:nth-child(even).ui-state-highlight {
      background-color: #6cb5ec;
    }
  }
  .ui-table-tbody td a {
    color: #1976d2;
    margin-right: 10px;
  }
  .ui-table-tbody .default .color-can-change {
    color: inherit;
    cursor: default;
  }
  .ui-table-tbody td a:last-child {
    margin: 0;
  }
}

.ui-paginator .ui-paginator-page {
  width: auto;
  min-width: 1.5em;
  &.ui-state-active {
    background: #6cb5ec;
    color: #ffffff;
    border-color: transparent;
  }
}

.paginator .ui-dropdown {
  .ui-dropdown-label {
    height: 22px;
    line-height: 18px;
  }
  .ui-dropdown-trigger {
    height: 22px;
    line-height: 20px;
  }
  .ui-dropdown-panel .ui-dropdown-list {
    padding: 0;
  }
}

.table-caption {
  background-color: white;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  line-height: 30px;
  .fl {
    padding-left: 10px;
    font-size: 14px;
    color: #445873;
    .fa-list-ul {
      vertical-align: 0;
      font-size: 16px;
      transform: scale(0.8, 1);
    }
  }
  .fr {
    color: #737c93;
    font-weight: bold;
    .fa-cloud-upload {
      font-size: 16px;
      vertical-align: 0;
    }
  }
  .export {
    width: 116px;
    cursor: pointer;
    text-align: center;
  }
  .export:hover {
    background-color: #6cb5ec;
    color: #fff;
  }
}

// table 选择列
.table-listbox li {
  border-radius: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// table 切换转写语种
.lang-list {
  .ui-dropdown {
    padding: 4px;
    border-radius: 0;
    line-height: 22px;
    .ui-dropdown-list {
      padding: 0;
      li {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}


.callRecordTwo {
  .ui-table-resizable > .ui-table-wrapper {
    overflow-x: auto;
    //height: 513px;
    overflow-y: auto;
  }
  .ui-table-resizable > .ui-table-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .ui-table-resizable > .ui-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #d4d6de;
    background-clip: padding-box;
    border: none;
    border-radius: 5px;
    min-height: 10px;
  }
  .ui-table-resizable > .ui-table-wrapper::-webkit-scrollbar-track-piece {
    border: none;
  }
}

// 大屏table
.bigscreens {
  .ui-table {
    margin-top: 5px;
    .ui-table-thead, .ui-table-tbody {
      tr {
        th, td {
          background-color: rgba(46, 141, 173, 0.5);
          border-color: #266A91;
          color: #c5faff;
        }
        th:hover, td:hover {
          background-color: rgba(46, 141, 173, 0.5);
          border-color: #266A91;
          color: #c5faff;
        }
        td {
          background: #0d274c;
        }
        td:hover {
          background: #0d274c;
        }
      }
    }
    .ui-table-summary {
      background: #0d274c;
      border-color: #266A91;
      color: #c5faff;
    }

  }
}

// 行高调整
.mix-height {
  .ui-table {
    .ui-table-thead > tr > th, .ui-table-tbody > tr > td, .ui-table-tfoot > tr > td {
      height: 28px;
      line-height: 26px;
    }
  }
}
// 日历颜色
.trTime {
  .ui-calendar{
    .ui-calendar-button{
      height: 24px;
      margin-top: 5px;
    }
  }
}
.red{
  .ui-inputtext{
    color: #ff0000;
  }
}
